.larger-text {
  font-size: 32px;
}
body {
  font-family: Arial, sans-serif;
}
body {
  background-color: lightblue;
}
body {
  color: tan;
}
body{
  text-shadow: -1px 1px 0 white;
} 
body {
  text-align: center;
}
